body {
  background-color: var(--gray-600);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 12.5rem;

  background-color: var(--gray-700);
}

main {
  max-width: 46rem;
  margin: auto;

  cursor: default;
}

.App {
  width: 100%;
  height: 100vh;
}

.app-logo {
  transform: translateY(-0.5rem);
}

.task-creator {
  display: flex;
  gap: 0.5rem;

  width: 100%;
  margin-bottom: 2.3125rem;

  transform: translateY(-50%);
}

.task-creator input {
  flex-grow: 1;

  height: 3.375rem;
  padding: 1rem;

  font-size: var(--text-size-base);

  outline: none;
  border: none;
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  color: var(--gray-100);
  background-color: var(--gray-500);
  transition: border-color 0.2s linear;
}

.task-creator input:focus {
  border-color: var(--purple-dark);
}

.new-task-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  width: 5.625rem;
  height: 3.25rem;

  font-size: var(--text-size-small);
  font-style: normal;
  font-weight: 700;

  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: var(--gray-100);
  background-color: var(--blue-dark);
  transition: background-color 0.2s linear;
}

.new-task-button:hover {
  background-color: var(--blue);
}

.task-list-header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1.5rem;
}

.task-stats {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 0.875rem;
  font-weight: 700;
}

.task-stats span {
  padding: 0.125rem 0.5rem;

  font-size: 0.75rem;
  font-weight: 700;

  border-radius: 999px;
  color: var(--gray-200);
  background-color: var(--gray-400);
}

.created-tasks {
  color: var(--blue);
}

.finished-tasks {
  color: var(--purple);
}

.task-container {
  border-radius: 8px;
}

.no-tasks {
  padding: 4rem 1.5rem;

  font-size: 1rem;
  text-align: center;

  color: var(--gray-300);
  border-top: 1px solid var(--gray-400);
}

.no-tasks>img {
  margin-bottom: 1rem;
}

.no-tasks>p>strong {
  font-weight: 700;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.75rem;

  width: 100%;
  padding: 1rem;
  margin-bottom: 0.75rem;

  font-size: 0.875rem;
  word-break: break-word;

  border: 1px solid var(--gray-400);
  border-radius: 8px;
  color: var(--gray-100);
  background-color: var(--gray-500);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
}

.task p {
  width: 100%;
  height: 100%;
}

.done {
  text-decoration: line-through;

  border-color: var(--gray-500);
  color: var(--gray-300);
  box-shadow: none;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  cursor: pointer;
}

.undone-icon-bg,
.done-icon-bg {
  width: 18px;
  height: 18px;

  border-radius: 50%;
  transition: background-color 0.2s, opacity 0.2s;
}

.undone-icon-bg {
  opacity: 0.1;
}

.icon-container:hover .undone-icon-bg {
  background-color: var(--blue-dark);
  opacity: 0.1;
}

.done-icon-bg {
  background-color: var(--gray-100);
}

.undone-icon,
.done-icon {
  position: absolute;

  transition: color 0.2s;
}

.undone-icon {
  color: var(--blue);
}

.undone-icon:hover {
  color: var(--blue-dark);
  opacity: 0.9;
}

.done-icon {
  color: var(--purple-dark);
}

.done-icon:hover {
  color: var(--purple);
}

.trash-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  padding: 0.25rem;

  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.trash-icon-container:hover {
  background-color: var(--gray-400);
}

.trash-icon-container:hover .trash-icon {
  color: var(--danger);
}

.trash-icon {
  color: var(--gray-300);
  transition: color 0.2s;
}