* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Inter, sans-serif;
  line-height: 140%;
  font-weight: 400;
}

:root {
  --purple: #8284FA;
  --purple-dark: #5E60CE;
  --blue: #4EA8DE;
  --blue-dark: #1E6F9F;
  --danger: #E25858;

  --gray-100: #F2F2F2;
  --gray-200: #D9D9D9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1A1A1A;
  --gray-700: #0D0D0D;

  --text-size-xsmall: .75rem;
  --text-size-small: .875rem;
  --text-size-base: 1rem;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

ul {
  list-style: none;
}